<?xml version="1.0"?>
<model>
  <name>Gunnar</name>
  <version>.1</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Tom Bertalan</name>
   <email>tom@tombertalan.com</email>
  </author>

  <description>
    Gunnar is a differential-drive rover with LIDAR.
  </description>
</model>
