<!-- Run drivers to publish sensor data and respond to actuation requests. -->
<launch>

    <!--Driver which publishes lidar scans.-->
	<node pkg="gunnar" name="lidarDriver" type="lidarDriver"></node>
	
	<!--Driver which publishes sensor data and responds to commands about motors and other devices.-->
	<!--<node name="arduinoDriver" pkg="gunnar" type="arduinoDriver"></node>-->
	<!--<node name="twistToMotors" pkg="gunnar" type="twistToMotors"></node>-->
	
	<!--Establish static TF transforms-->
	<node pkg="tf" type="static_transform_publisher" name="mapToLidarTf" args="0 0 0 0 0 0 1 map lidar 10" />

</launch>
