<!-- Run drivers to publish sensor data and respond to actuation requests. -->
<launch>


    <!-- Driver which publishes sensor data and responds to commands about motors and other devices.-->
    <!-- 
    <node name="motorDriver" pkg="gunnar" type="motorDriver">
        <param name="lidarAngle" value="3.14159" />
        <param name="rate" value="10" />
    </node>
    -->
    
    <!-- Script which translates velocity commands in m/s and rad/s to motor fractions. -->
    <!--   
    <node name="twistToMotors" pkg="gunnar" type="twistToMotors">
        <param name="scaleFactor" value="2.5" />
        <param name="radFactor" value="1.5" />
        <param name="base_width" value="0.24" />
        <param name="motor_tune_left" value="1.0" />
        <param name="motor_tune_right" value="1.0" />
    </node> -->
    
    
    <!-- Driver which publishes wheel encoder odometry. -->
   	<!--  cpr=48/4 * gearRatio=172 / (pi * diameter=.1) = 6569.916 -->
    <!--  
    <node name="wheelOdometry" pkg="gunnar" type="wheelOdometry">
        <param name="RIGHT_CLICKS_PER_M" value="6570" />
        <param name="LEFT_CLICKS_PER_M" value="6570" />
        <param name="WHEEL_BASE_M" value="0.24" />
        <param name="odometryRate" value="10" />
    </node>
    -->
    
    
    
    <!--Driver which publishes lidar scans.-->
    <node pkg="gunnar" name="lidarDriver" type="lidarDriver"></node>
      
      
    <!--Establish static TF transforms-->
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_rotation" args="0 0 0 0 0 0 odom map 100" /> --> 
    
    
    <!-- Publish camera iamges. -->
    <!-- 
    <node pkg="gunnar" name="cameraPublisher" type="cameraPublisher" /> 
    -->

</launch>
