<!--Run a TUI to drive the robot with a keyboard.-->
<launch>
	<node pkg="gunnar" type="keyboard_teleop.py" name="keyboard_teleop">
	   <!--TODO: This probably requires adding yujin_ocs as a (run?) dependency, or at least cmd_vel_mux.-->
    	<!-- <remap from="keyboard_teleop/cmd_vel" to="cmd_vel_mux/input/teleop"></remap> -->
	</node>
	<include file="$(find gunnar)/launch/gunnar_hardware.launch" />
</launch>