<!--Read LIDAR and odometry topics and convert them into map and pose estimates.-->
<launch>
    
    <!-- Gmapping -->
    <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
    	<!-- This doesn't work becuase of https://github.com/ros-perception/slam_gmapping/issues/42 : -->
        <env name="ROSCONSOLE_MIN_SEVERITY" value="ROSCONSOLE_SEVERITY_FATAL" />
    
        <rosparam file="$(find gunnar)/param/slam.yaml" command="load" />
 
    </node>
</launch>