<!--Read LIDAR and odometry topics and conver them into map and pose estimates.-->
<launch><!--TODO: All these gunnar_ROS_pkg strings will probably need to change to something else later. Including "_ROS_pkg" seems tacky.-->
	<node pkg="gunnar_ROS_pkg" name="slam" type="slam.py">
		<rosparam file="$(find gunnar_ROS_pkg)/param/slam.yaml" command="load"></rosparam></node></launch>